@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h3></h3>

<p>
    DevOps (a clipped compound of development and operations) is a culture, movement or practice that
    emphasizes the collaboration and communication of both software developers and other information-technology (IT)
    professionals while automating the process of software delivery and infrastructure changes. It aims at establishing a
    culture and environment where building, testing, and releasing software, can happen rapidly, frequently, and more reliably.

</p>
<hr />
<p>
    When asked what DevOps is, our department's very own <a href="mailto:Jason.Burch@vinsolutions.com">Jason Burch</a> said this, "[DevOps is] a cultural and professional movement, focused on how we build and operate high velocity organizations, born from the experiences of its practitioners."
</p>
<p>
    The VinSolutions DevOps team strives to provide this level of service and passion to the VinSolutions community each and every day.
    We manage software deployments to nearly 1000 servers across the company using software such as <a href="jenkins.io"> Jenkins</a> and <a href="octopus.com"> Octopus</a>. We use these tools to automate deployments, makiing the process much simpler.
</p>