@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    8th Floor, walk-ins welcome <br />
    573-684-3108 <br />
    <a href="VinDevOps@vinsolutions.com">VinDevOps@vinsolutions.com </a>
</address>
<hr />
<address>
    <strong>Josh Jamour:</strong> <a href="mailto:Josh.Jamour@vinsolutions.com">Josh.Jamour@vinsolutions.com </a><br />
    <strong>Josh Swank:</strong> <a href="mailto:Josh.Swank@vinsolutions.com">Josh.Swank@vinsolutions.com</a><br />
    <strong>Jason Burch:</strong> <a href="mailto:Jason.Burch@vinsolutions.com">Jason.Burch@vinsolutions.com</a><br />
    <strong>Tyler Strewsbury:</strong> <a href="mailto:Tyler.Shrewsbury@vinsolutions.com">Tyler.Shrewsbury@vinsolutions.com</a><br />
    <strong>Dan Murtha </strong>(Currently in Japan): <a href="mailto:Daniel.Murtha@vinsolutions.com">Daniel.Murtha@vinsolutions.com</a><br />
    <strong>Alex Haynes:</strong> <a href="mailto:Alexander.Haynes@vinsolutions.com">Alexander.Haynes@vinsolutions.com</a><br />
</address>