@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VinSolutions DevOps Portal</h1>
    <p class="lead">Welcome to the portal for the Development and Operations Department of VinSolutions</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

