
@{
    Layout = null;
}
<link rel="shortcut icon" href="~/images/icons/favicon.ico">
<link rel="apple-touch-icon" href="~/images/icons/favicon.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/favicon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/favicon-114x114.png">
<!--Loading bootstrap css-->
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
<link type="text/css" rel="stylesheet" href="~/styles/jquery-ui-1.10.4.custom.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/animate.css">
<link type="text/css" rel="stylesheet" href="~/styles/all.css">
<link type="text/css" rel="stylesheet" href="~/styles/main.css">
<link type="text/css" rel="stylesheet" href="~/styles/style-responsive.css">
<link type="text/css" rel="stylesheet" href="~/styles/zabuto_calendar.min.css">
<link type="text/css" rel="stylesheet" href="~/styles/pace.css">
<link type="text/css" rel="stylesheet" href="~/styles/jquery.news-ticker.css">
<link type="text/css" rel="stylesheet" href="~/styles/jplist-custom.css">
<link type="text/css" rel="stylesheet" href="~/styles/nestable.css">
<link href="~/styles/NotFound.css" rel="stylesheet" />
<script src="~/script/jquery-1.10.2.min.js"></script>
<script src="~/script/MoveAcrossPage.js"></script>


<h1 align="center" style="padding-top: 10%; color:#000000">
    Oops! The ID or username you are searching for does not exist!
</h1>


<div id="animate">
    <img src="~/images/icons/datboi.gif" />
</div>
