body {
    color: #5b5b5b;
}

.a {
    color: #5b5b5b;
}

td {
    border-color: rgb(91,91,91);
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid rgb(91,91,91);
    border-right: 1px solid rgb(91,91,91);
    text-align: center;
}

#bar {
    color: #000000;
    border: none;
    background-color: #000000;
    height: 1px;
}
