
@{
    ViewBag.Title = "Access Denied";
}

<div>

    <h1 align="center" style="color:#d90b0b">
        <i class="fa fa-times-circle-o" aria-hidden="true" style="font-size: 150%; margin-right:2%"></i>
        Access Denied
        <i class="fa fa-times-circle-o" aria-hidden="true" style="font-size: 150%; margin-left:2%"></i>
    </h1>

</div>

<hr />
<h2 align="center" style="margin-top:5%">You do not have access to this form.</h2>

<h4 align="center">If you beleive this is a mistake, contact the <a href="mailto:VinDevOps@vinsolutions.com">DevOps Team</a>.</h4>