
@{
    ViewBag.Title = "Success";
}
<div style="margin-top: 10%">
    <h1 align="center" style="color: #3c9606; font-weight: 700;">Success</h1>

    <h4 align="center" style="margin-top:2%">Your request has successfully been submitted!</h4>

    <a class="btn btn-primary center-block" style="width:10%; margin-top:2%" href="../Home/Dashboard" role="button">
        Back to Dashboard
    </a>


</div>
